[Desktop Entry]
Version=1.0
Type=Application
Name=Designer for BF20 Mill
Comment=QTDesigner for BF20 Mill
Exec=/home/username/dev/bf20_mill/dev_launchers/bf20_mill_designer.sh
Icon=qtpyvcp
Path=/home/username/dev/bf20_mill/dev_launchers
Terminal=false
StartupNotify=false
